.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal Content */
.modal-content{
    background-color: #202020;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

button{
    background:none!important;
     border:none;
     padding:0!important;

    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     font-size: 20px;
     text-decoration:underline;
     cursor:pointer;
}
/* The Close Button */
.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]{
    background-color: black;
    color: #23527C;
    border-radius: 5px;
    border: none;
    padding: 4px;
}
